.LogoIpsum-item {
    width: 100%;
    height: 191px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e0f20;
    position: relative;
}

.ContLogoIpsum {
    width: 1170px;
    height: 190px;
    background-color: #E2E5F2;
    position: absolute;
    top: -109px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ContLogoIpsum h3 {
    position: relative;
    color: #333787;
    font-weight: bold;
    font-size: 24px;
}

.ContLogoIpsum-Img {
    display: flex;
    margin-top: 30px;
}

.ContLogoIpsum-Img img {
    transition: .3s;
    margin: 0 35px;
    position: relative;
}

.ContLogoIpsum-Img img:hover {
    transform: translateY(-15px);
}