.works-Items {
    width: 100%;
    padding-bottom: 110px;
    /* background-color: #0e0f20; */
    display: flex;
    position: relative;
    justify-content: center;
}

.worksBG {
    position: absolute;
    bottom: 0;
    right: 0;
}

.worksBG img {
    width: 780px;
}

.worksCont {
    width: 1170px;
    display: flex;
    flex-direction: column;
}

/*.works-ItemTittle {*/

/*}*/

.boxWorksChildDivCont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



.works-ItemTittle h4, .boxWorksChildDiv h4 {
    /* color: #00B9C5; */
    letter-spacing: 3px;
    font-size: 13px;
}

.WorksTitleBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.WorksTitleBtn h2 {
    font-size: 54px;
    margin-top: 22px;
    /* color: white; */
}

.WorksTitleBtn button {
    border: none;
    border-radius: 100px;
    font-weight: bold;
    /* color: white; */
    /* background-color: #DB3647; */
    padding: 16px 32px;
    cursor: pointer;
    position: relative;
}

.works-ItemTittle p, .boxWorksChildDiv p {
    /* color: #FFFFFF99; */
    font-size: 17px;
    margin: 22px 0;
    width: 600px;
}

.boxWorks {
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

.boxWorksChildDiv {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* color: white; */
    width: 585px;
    height: 421px;
    background-color: #333787;
    padding: 64px;
}


.WorksBoxBg {
    /* background-color: #E2E5F2; */
}

.boxImgWorks {
    padding: 0 !important;
}

.boxImgWorks img {
    width: 100%;
    height: 100%;
}

.boxWorksChildDiv h2 {
    font-size: 36px;
    margin-top: 30px;
}

.WorksBoxBg {
    h2 {
        /* color: black; */
    }

    p {
        /* color: #64657D;; */
    }

    button {
        /* color: #333787 !important; */
        /* border-color: #333787 !important; */
    }
}

.boxWorksChildDiv p {
    width: auto !important;
}

.boxWorksChildDiv button {
    border: 1px solid white;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 16px 32px;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
}